<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Training page</title>
</head>
<body>
    {{>header}}
    <h1>About App,</h1>
    <img src="/img/20200917_131037.jpg" alt="">
    11:03 AM
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="483193f1-9f4a-44b9-813c-93e40fb8b854" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
    {{>footer}}
    <script src="/js/script.js"></script>
</body>
</html>