<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Weather app</title>
</head>
<body>
    {{>header}}
    <h1>Pomoci ce vam, {{name}}</h1>
    <p>Napisati ukratko o meni, o kompaniji u kojoj radim, Levi9.</p>
    <p>ostaviki kontakt email</p> 
    <img src="/img/20200917_131037.jpg" alt="">

    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="483193f1-9f4a-44b9-813c-93e40fb8b854" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
    
    {{>footer}}
</body>
</html>