<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Weather app</title>
</head>
<body>
     {{>header}}
     <div class="content-app">
        <h2>Enter the name of city/place:</h2>
        <form>
            <input type="text" placeholder="Enter location">
            <button type="submit">Submit</button>
        </form>
        <p id="loadingText"></p>
        <div style="display: none; margin-top: 30px; background-color: lightgray; border-radius: 15px; padding: 15px;" id="info-block">
            <p id="error-message" style="color: red;"></p>
            <div style="display: flex; align-items: center; margin-bottom: 25px;">
                <img src="" alt="weather img" id="weather_img" style="display: none; width: 50px; margin-right: 25px">
                <p id="location"></p>
            </div>
            <p id="message" style="margin-bottom: 10px;"></p>
            <p id="visibility" style="margin-bottom: 10px;"></p>
            <p id="uv_index" style="margin-bottom: 10px;"></p>
        </div>
        <p>*** dodati dodatne informacije, verovatnoca za padavine, oblacnost, maglovitost, subjektivni osecaj, weather img</p>
     </div>
     {{>footer}}
    <script src="/js/script.js"></script>
</body>
</html>