<footer>
    <p style="display: flex; justify-content: center; margin-top: 10px;">Author of app is &copy; <a href="https://www.linkedin.com/in/igor-bezanovic/">{{name}} {{lastName}} 2022</a></p>
</footer>