<header style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
  <h1>Weather App</h1>
  <ul>
    <li style="list-style: none;"><a href="/">App</a></li>
    <li style="list-style: none;"><a
        href="/about"
      >About App</a></li>
    <li style="list-style: none;"><a
        href="/help"
      >About Author</a></li>
  </ul>
</header>